*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
}

.background{
	position: fixed;
	z-index: -100;
}

.background img{
	position: absolute;
}

.main {
	writing-mode: vertical-rl;
	/* float: right; */
	padding: 40px;
	text-indent: 2em;
	line-height: 40px;
	letter-spacing: 5px;
}


.main a {
	background: #dfdfdf;
	border-radius: 3px;
	margin: 2px;
	padding: 3px;
}
.main a:hover {
	background: #ccc;
}



